<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <h2>Create new chat here</h2>
    <form method="POST" action="/create">
        <input type="text" name="from" placeholder="Who are you?"><br>
        <textarea name="msg" placeholder="Write message" rows="10" cols="35"></textarea><br>
        <input type="text" name="to" placeholder="Who is receiver?"><br>
        <button type="submit">Create</button>
    </form>
</body>
</html>